{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#BDE0E0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIPTA</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-[#faf8f5] flex flex-col h-screen">
<div class="flex justify-center text-[#6953A8] items-center bg-[#BDE0E0] p-4 sticky top-0" style="z-index: 10000">
    <a href="/" class="button-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
        </svg>
    </a>
    <span class="flex-1 text-center font-semibold uppercase">RIPTA</span>
    <svg xmlns="http://www.w3.org/2000/svg" id="loading" xmlns:xlink="http://www.w3.org/1999/xlink"
         style="shape-rendering: auto;" class="w-6 h-6 -ml-6 hidden" viewBox="0 0 100 100"
         preserveAspectRatio="xMidYMid">
        <g transform="translate(50 50)">
            <g transform="scale(0.7)">
                <g transform="translate(-50 -50)">
                    <g>
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                          values="0 50 50;360 50 50" keyTimes="0;1"
                                          dur="0.7575757575757576s"></animateTransform>
                        <path fill-opacity="0.8" fill="#e15b64" d="M50 50L50 0A50 50 0 0 1 100 50Z"></path>
                    </g>
                    <g>
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                          values="0 50 50;360 50 50" keyTimes="0;1"
                                          dur="1.0101010101010102s"></animateTransform>
                        <path fill-opacity="0.8" fill="#f47e60" d="M50 50L50 0A50 50 0 0 1 100 50Z"
                              transform="rotate(90 50 50)"></path>
                    </g>
                    <g>
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                          values="0 50 50;360 50 50" keyTimes="0;1"
                                          dur="1.5151515151515151s"></animateTransform>
                        <path fill-opacity="0.8" fill="#f8b26a" d="M50 50L50 0A50 50 0 0 1 100 50Z"
                              transform="rotate(180 50 50)"></path>
                    </g>
                    <g>
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                          values="0 50 50;360 50 50" keyTimes="0;1"
                                          dur="3.0303030303030303s"></animateTransform>
                        <path fill-opacity="0.8" fill="#abbd81" d="M50 50L50 0A50 50 0 0 1 100 50Z"
                              transform="rotate(270 50 50)"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <a href="/setting">
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
        </svg>
    </a>
</div>
<div id="menu" style="position: absolute; display: none; z-index: 1000" data-id="0">
    <div class="bg-white w-32 border border-gray-300 rounded-lg flex flex-col text-sm py-4 px-2 text-gray-500 shadow-lg">
        <div class="flex items-center hover:bg-gray-100 py-1 px-2 rounded cursor-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"></path>
            </svg>
            <div class="ml-3">Select</div>
        </div>
        <div class="flex items-center hover:bg-gray-100 py-1 px-2 rounded cursor-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
            </svg>
            <div class="ml-3">Edit</div>
        </div>
        <hr class="my-3 border-gray-300"/>
        <div class="flex items-center hover:bg-gray-100 py-1 px-2 rounded cursor-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-600" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
            </svg>
            <div class="ml-3" onclick="deleteNote(this)">Delete</div>
        </div>
    </div>
</div>
<div id="content" class="pt-4 flex-1 md:pt-8 px-0 md:p-4">
    {% block content %}{% endblock %}
</div>
<script>
    function deleteNote() {
        const menu = document.getElementById("menu")
        const id = menu.getAttribute('data-id')

        window.location = '/note/delete/' + id
    }
</script>
</body>
</html>
